*.o
*.out
*.swp
*.so
*.bak
*.log
*.output
*.tab.*
*.yy.cpp
peda-session-*
.gdb_history
lex.yy.c
syntax.tab.[hc]
bin
!*/class_test/*.out
.vscode/
project1/bin/
project1/build
project1/test_ans
project2/build
project2/bin